.registration {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &__inner{
        max-width: 460px;
        height: 250px;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        width: 100%;
        p{
            font-size: 20px;
        }
    }
    &__google-inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

