.learn-new {
    padding-top: 50px;

    h2 {
        color: $black;
        font-size: 32px;
        margin: 0;
        margin-bottom: 50px;
    }

    &__inner {
        width: 90vw;
        margin: 0 auto;
    }

    &__menu {
        margin-left: 5px;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: flex-end;
            li + li {
                margin-left: 5px;
            }
            li {
                margin: 0;
                display: block;
                list-style: none;
                height: 27px;
                background-color: $buttonList;
                padding: 0 10px;
                padding-top: 3px;
                font-size: 17px;
                font-weight: 700;
                color: $black;
                border: 1px solid $listStrock;
                border-bottom: none;
                cursor: pointer;
                border-radius: 4px 4px 0 0;
                &::first-letter {
                    text-transform: uppercase;
                }

                &.active {
                    height: 31px;
                    background-color: #fff;
                }
            }
        }
    }

    &__filter {
        background-color: $filterBack;
        width: 100%;
        height: 34px;
        text-align: center;
    }
}