.learn-new {
    padding-top: 50px;

    h2 {
        color: $black;
        font-size: 32px;
        margin: 0;
        margin-bottom: 50px;
    }

    &__inner {
        width: 90vw;
        margin: 0 auto;
        
    }

    &__index {
        width: 5%;
        padding-left: 40px;
    }

    &__menu {
        margin-left: 5px;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: flex-end;

            li+li {
                margin-left: 5px;
            }

            li {
                margin: 0;
                display: block;
                list-style: none;
                height: 27px;
                background-color: $buttonList;
                padding: 0 10px;
                padding-top: 3px;
                font-size: 17px;
                font-weight: 700;
                color: $black;
                border: 1px solid $listStrock;
                border-bottom: none;
                cursor: pointer;
                border-radius: 4px 4px 0 0;

                &::first-letter {
                    text-transform: uppercase;
                }

                &.active {
                    height: 31px;
                    background-color: #fff;
                }
            }
        }
    }

    &__filter {
        background-color: $filterBack;
        width: 100%;
        margin: 0 auto;
        height: 34px;
        background-color: $verbBack;
        display: flex;
        align-items: center;
        span {
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__type {
        width: 19%;
    }

    &__content-inner {
        border: 1px solid #F3F3F3;
    }

    &__words {
        min-height: 60vh;
    }

    .new-word {
        display: flex;
        width: 98%;
        height: 65px;
        margin: 0 auto;
        align-items: center;
        margin-top: 11px;
        background-color: $verbBack;

        span {
            width: 19.4%;
            color: $black-light;
        }

        &__concat {
            width: 19.4%;
            display: flex;
            align-items: center;
        }

        &__img {
            cursor: pointer;

            &.active {
                transform: rotate(180deg);
            }
        }

        &__index {
            width: 5% !important;
            display: flex;
            justify-content: center;
        }

        button {
            background-color: #00C98D;
            border: none;
            padding: 7px 19px;
            color: #fff;
            border-radius: 4px;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            margin-right: 10px;

        }

        &__description {
            width: 98%;
            margin: 0 auto;
            border: 1px dashed #D6D6D6;
            border-top: none;
            padding: 20px;
        }
    }
}